/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.hidden {
    display:none;
 }
 
 .show{
    display:block;
 }


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;

}


#sidebar {
    min-width: 330px;
    max-width: 330px;
    background: grey;
    color: #fff;
    transition: all 0.3s;
    font: 80px;
    margin-left:0px;
    float: left;
}

#sidebar.active {
    margin-left: -330px;
}

#sidebar .sidebar-header {
    padding: 20px 30px 30px 20px; 
}

#search-btn{
  color: #31B0D5;
  background:black;
  border-radius: 8px;
  width:250px;
  text-align: left;
}

.list-unstyled .active{
  background-color:darkgrey;
  color:#7386D5;
}

#sidebar ul li a:hover{
    color: #7386D5;
    background: #fff;
}

.sidebar-item{
  border:none !important;
  background-color: grey;
  font-size:20px;
  color:white;
}

#sidebar_list-tab{
  background:grey;
}

#sidebar_list-tab .active{
  background: darkgrey;
}

#sidebarCollapse{
  margin-left: 20px;
  height:30px;
}

.logo{
  width:70px;
  height:48px;
}

.logo-chat{
  width:50px;
  height:40px;
}

.friend{
	height:65px;
    position:relative;
    padding-left:15px;

}
.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.friend img{
	width:40px;
	border-radius:50%;
    margin:12px;
	float:left;
}

/*.friend p{
	padding:12px 0 0 0;			
	float:left;
	width:220px;
}*/

.friend p {
    position: relative;
    top:8px;
    margin-left: 5px;
}

.chatName {
    font-weight:400;
    font-size:16px;
    color:white;
}

.chatAbbr {
    font-size:13px;
	font-weight:100;
    color:white;
    position: relative;
    bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    min-height: 100vh;
    transition: all 0.3s;
    padding:20px;
    width:100%;
    
}

.navbar {
    padding: 15px 10px;
    background:#fff;
    border: none;
    margin-bottom: 10px;
    border-radius: 0;
}

.line {
  height: 1px;
  border-bottom: 2px solid grey;
  margin-bottom:10px;
  width:100%;
 
}

.bot-chat{
  margin-left:20px;
}

.bot-chat-text{
  margin-left:80px;
  color:black;
  position: relative;
  bottom: 8px;
  font-size: 15px;
}

#score-btn{
  background:#31B0D5!important;
  width:300px;
  height:60px;
  border-radius: 8px;
  margin-left:300px;
  margin-bottom: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
       margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

